.App {
    background-image: linear-gradient(to top, rgb(250, 250, 152), white);
}

.header_logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_logo>img {
    object-fit: contain;
    float: left;
    height: 7rem;
    width: 22rem;
}

.intro_section {
    height: 35rem;
    display: flex;
}

.award {
    width: 30rem;
}

.award>img {
    height: 100%;
    width: 30rem;
    min-width: 20rem;
    object-fit: contain;
}

.introduction {
    padding: 0 3rem 0 3rem;
    width: 50rem;
}


.intro_head>h4 {
    margin-top: 2rem;
    font-size: 1rem;
}

.intro_head>ul>li {
    font-size: 0.9rem;
}

.introduction>img {
    height: 60%;
    width: 100%;
}

.intro_tail {
    font-size: 0.9rem;
}

.middle_section {
    margin: 5rem 2rem 1rem 5rem;
    font-size: 0.9rem;
}

.product_image {
    border-bottom: 2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 2rem 1rem 2rem;
    padding-bottom: 1rem;
}

.product_image>img {
    width: 70%;
    height: 25rem;
    object-fit: contain;
    margin-bottom: 0.5rem;
}

.bottom_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bottom_section>h5 {
    margin: 0;
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.bottom_section>p {
    font-size: 0.9rem;
    padding: 0 3rem;
    text-align: center;
    font-weight: 450;
}

footer {
    background-color: rgb(243, 58, 58);
    margin: 1rem;
    height: 7rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer {
    width: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
}

.Icon {
    color: rgb(243, 58, 58);
    background-color: white;
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.globe {
    color: white;
    background-color: rgb(243, 58, 58);
    border: none;
}

.footer>p {
    color: white;
}


/* For screens smaller than 768px (tablets) */
@media (max-width: 768px) {
    .header_logo>img {
        height: 5rem;
        width: 18rem;
    }

    .intro_section {
        flex-direction: column;
        height: auto;
    }

    .award>img {
        width: 100%;
        min-width: auto;
        height: auto;
    }

    .introduction {
        width: 100%;
        padding: 0 1rem;
    }

    .introduction>img {
        height: auto;
        width: 100%;
    }

    .middle_section {
        margin: 2rem 1rem 1rem 1rem;
    }

    .product_image>img {
        width: 90%;
        height: auto;
    }

    .bottom_section {
        padding: 0 1rem;
    }

    .footer {
        flex-direction: column;
        height: auto;
    }

    .footer>p {
        margin: 0.5rem 0;
    }
}

/* For screens smaller than 576px (phones) */
@media (max-width: 576px) {
    .header_logo>img {
        height: 4rem;
        width: 14rem;
    }

    .introduction {
        padding: 0 0.5rem;
    }

    .middle_section {
        margin: 1rem;
    }

    .product_image>img {
        width: 100%;
    }

    .footer {
        padding: 0.5rem;
    }

    .footer>p {
        font-size: 0.8rem;
        margin: 0.3rem 0;
    }
}

/* For screens smaller than 375px (iPhone 6/7/8) */
@media (max-width: 375px) {
    .header_logo>img {
        height: 3.5rem;
        width: 12rem;
    }

    .middle_section {
        margin: 0.5rem;
        font-size: 0.8rem;
    }

    .footer>p {
        font-size: 0.7rem;
    }
}

/* For screens smaller than 320px (iPhone 5/SE) */
@media (max-width: 320px) {
    .header_logo>img {
        height: 3rem;
        width: 10rem;
    }

    .middle_section {
        margin: 0.2rem;
        font-size: 0.7rem;
    }

    .footer>p {
        font-size: 0.6rem;
    }
}